# Database Configuration
DB_PASSWORD=DrugPrevention@2024
DB_NAME=DrugUsePreventionDB

# API Configuration
JWT_SECRET=this_is_a_super_long_secret_key_just_for_HS512_security_purposes_in_docker_123!
JWT_ISSUER=DrugPreventionApp
JWT_AUDIENCE=DrugPreventionApp

# Email Configuration
MAIL_ADDRESS=templateasp.tien@gmail.com
MAIL_DISPLAY_NAME=Drug Prevention Admin
MAIL_PASSWORD=qhbo kwkb fbjz orxo
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

# Ports Configuration (change if needed)
UI_PORT=3000
API_PORT=5000
DB_PORT=1433